@{
    ViewBag.Title = "About";
}
<div>
    <style>
        body {
            background-image: url(https://lifefitness.co.uk/sites/g/files/dtv351/f/life-fitness/commercial/cardio/elevation-series/Gym-UK-Nuffield-feat-Elevation-Series-treadmills-in-Arctic-Silver-L.jpg);
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <style type="text/css">
        body {
            font-family: 'Times New Roman';
            font-weight: bold;
            font-size: 3.00em;
            color: white;
        }
    </style>
    <p></p>
</div>