@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url(https://lifefitness.co.uk/sites/g/files/dtv351/f/life-fitness/commercial/cardio/elevation-series/Gym-UK-Nuffield-feat-Elevation-Series-treadmills-in-Arctic-Silver-L.jpg);
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p></p>
</div>