@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #334cf3;
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>