@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url(https://41inmylife.files.wordpress.com/2011/06/weight_scale.jpg);
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Weight Tracker Inc.<br />
        Miami, FL 33301<br />
        <abbr title="Phone">Phone:</abbr>
        123-456-7890
    </address>

    <address>
        <strong>Customer Support:</strong> <a href="mailto:customersupport@weighttracker.com">customersupport@weighttracker.com</a><br />
    </address>
</div>