@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #334cf3;
        }
    </style>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Weight Tracker Inc.<br />
        Miami, FL 33301<br />
        <abbr title="Phone">P:</abbr>
        123-456-7890
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>