@model WeightTracker.Models.FoodIntake
@{
    ViewBag.Title = "Home Page";
}
<div>
    <style>
        body {
            background-image: url(http://undergroundhealthreporter.com/wp/wp-content/uploads/2017/03/fruits-vegetables_medium.jpg);
        }
    </style>
    <h2>Login</h2>
    <p>
        Username <input asp-for="Title" class="form-control" />
        Password <input asp-for="Title" class="form-control" />
        <br />
        @Html.ActionLink("Enter", "MealsTake", null, new { @class = "btn btn-success btn-lg" })
        <style type="text/css">
            body {
                font-family: 'Times New Roman';
                font-size: 2.00em;
                color: white;
            }
        </style>
        <br />
        <br />
    </p>
    <div>
        If you don't have an account please regrister
        @Html.ActionLink("Create", "FoodInput", "TrackInput", null, new { @class = "btn btn-success btn-lg" })

    </div>
</div>