@{
    ViewBag.Title = "Result";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url(https://brslifestyle.files.wordpress.com/2012/05/ps012-bmi-bathroom-scale1.jpg );
            background-color: #334cf3;

        }
    </style>
    <style type="text/css">
        body {
            font-family: 'Times New Roman';
            font-weight: bold;
            font-size: 3.00em;
            color: black;
        }
    </style>
    <h2>Time                        Calories              Mileage<br /></h2>
    <p>
        Current Day: 0<br />
        Daily: 0<br />
        <br />
        Current Week: 0<br />
        Weekly: 0<br />
        <br />
        Current Month: 0<br />
        Monthly: 0
        <br />
        Current Year: 0<br />
        Yearly: 0<br />

    </p>
</div>