@{
    ViewBag.Title = "Result";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #334cf3;
        }
    </style>
    <h2>Time                        Calories              Mileage<br /></h2>
    <p>
        Current Day: 0<br />
        Daily: 0<br />
        <br />
        Current Week: 0<br />
        Weekly: 0<br />
        <br />
        Current Month: 0<br />
        Monthly: 0
        <br />
        Current Year: 0<br />
        Yearly: <br />
    </p>
</div>