@{
    ViewBag.Title = "Result";
}
<div class="jumbotron">
    <style>
        body {
            background-image: url("paper.gif");
            background-color: #334cf3;
        }
    </style>
    <h2>Time                        Calories              Mileage<br /></h2>
    <p>
        Current Day: <br />
        Daily: <br />
        <br />
        Current Week: <br />
        Weekly: <br />
        <br />
        Current Month: <br />
        Monthly:
        <br />
        Current Year:<br />
        Yearly: <br />
    </p>
</div>