@{
    ViewBag.Title = "Tracker";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Calories   <input asp-for="Title" class="form-control" /><br />
        Mileage   <input asp-for="Title" class="form-control" /><br />
</p>
</div>