@model WeightTracker.Models.FoodIntake
@{
    ViewBag.Title = "Tracker";
}
<div>
    <style>
        body {
            background-image: url(https://wallpapercave.com/wp/UNgPrON.jpg );
        }
    </style>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <p>
        <style type="text/css">
            body {
                font-family: 'Times New Roman';
                font-weight: bold;
                font-size: 2.50em;
                color: black;
            }
        </style>
        <div>
            @Html.ActionLink("Make It A Meal", "Create", "FoodIntakes", null, new { @class = "btn btn-success btn-lg" })
        </div>
        Enter calories and mileage taking<br />
        Calories<input asp-for="Title" class="form-control" />
        Mileage <input asp-for="Title" class="form-control" />
        <div>
            @Html.ActionLink("Add","FoodIntakes", null, new { @class = "btn btn-success btn-lg" })
        </div>
    </p>
</div>